@charset "utf-8";
/*css document*/
body{
    font-family:"宋体";
    color:#333;
    background-color:#B6C6CF;
    width:100%;
}
.indexTypes{
    width:1002px;
    margin:10px auto;
}
.indexTypes ul li{
    position:relative;
    float:left;
    width:193px;
    overflow:hidden;
    height:113px;
}
.indexTypes ul li:hover{
    cursor:pointer;
}
.indexTypes ul li .title{
    width:143px;
    padding-top:30px;
    padding-left:50px;
    background:url("../images/typeBg.png") repeat-x;
    font-size:18px;
    color:#fff;
    font-family:"微软雅黑";
    height:83px;
    float:left;
}
.indexTypes ul li .title a{
    color:#fff;
}
.indexTypes ul li .title h2{
    font-size:20px;
    font-weight:bold;
    padding-bottom:5px;
}
.indexTypes ul li.current .title{
    background:url("../images/typeT.jpg") no-repeat left top;
}
.indexTypes ul li .con{
     position:absolute;
     top:0px;
     left:193px;
     width:317px;
     overflow:hidden;
     height:113px;
     background:url("../images/typeUl.jpg") no-repeat left top;
 }
.indexTypes ul li #con11{
    background:url("../images/typeUl.jpg") no-repeat left top;
}
.indexTypes ul li #con22{
    background:url("../images/con22.jpg") no-repeat left top;
}
.indexTypes ul li #con33{
    background:url("../images/con33.jpg") no-repeat left top;
}
.indexTypes ul li .con ul{
    padding-top:12px;
}
.indexTypes ul li .con ul li{
    float:none;
    height:auto;
    width:auto;
}
.indexTypes ul li .con ul li a{
    line-height: 28px;
    width:195px;
    display:block;
    text-indent:3em;
    border-bottom:dashed 1px #d1d1d1;
}
.indexTypes ul li .con ul li a:hover{
    color:#f87c02;
}
